<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Dungaon and dragon</title>
    <link rel="stylesheet" href="style/dad.css">
</head>
<body>
    <a href="search">Search character</a>
    <h1>dungon and dragons</h1>
    <%dbresult.forEach(value=>{%>
        <h1><%=value.name%></h1>
        <p><%=value.descreption%></p>
        <h3><%=value.skills%></h3>
        <h3><%=value.abilityscore%></h3>
        <a href="/detail/<%=value.id%>">View Details</a>
   <% })%>
   
    
    
</body>
</html>