<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungon and dragon</title>
</head>
<body>
<h1><%=items.name%></h1>
<p><%=items.description%></p>
<h3><%=items.ablity%></h3>
<form action="/add" method="POST">
<input  type="text" name="name" value="<%=items.name%>">
<input  type="text" name="description" value="<%=items.description%>">
<input  type="text" name="ablity" value="<%=items.ablity%>">

<button type="submit">ADD here</button>
</form>
</body>
</html>